body a:visited {
  color: black;

}

body, a {
  background-color: #E9C904;
  color: black;
}

.nav-item{
  cursor: pointer;
}

.container{
  min-height: 100vh;
}

.carousel-item.active{
  display: flex;
}

.carousel-image-c{
  display: flex;
  align-items: center;
  justify-content: center;
}